.cart-bar-header {
  font-size: 2em;
  margin-bottom: 8%;
}

.cart-items {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0 4%;
}

.cart-item {
  margin-bottom: 10%;
  font-size: small
}

.cart-img-name {
  display: flex;
  gap: 20px
}

.cart-img {
  max-width: 16%;
  max-height: 16%;
  border: 2px solid white;
}

.cart-quantity-price {
  display: flex;
  justify-content: space-between;
  margin-top: 6%;
}

.cart-quantity {
  display: flex;
  align-items: center;
}

.quantity {
  margin-right: 2%
}

.increment, .decrement {
  border: none;
  background: none;
  color: white;
  cursor: pointer;
  font-size: 18px;
}

.subtotal, .tax-shipping {
  align-self: flex-start;
  padding: 2% 4%;
  width: 92%;
}

.subtotal {
  border-top: 1px solid white;
}

.cart-checkout {
  display: flex;
  justify-content: center;
  color: white;
  border: none;
  background: black;
  width: 100%;
  margin-top: 4%;
  padding: 4% 0;
  text-decoration: none;
}

#cart-checkout {
  font-size: medium;
  color: white;
  border: none;
  background: black;
}