html {
  width: 100vw;
}

header {
  background-color: rgba(34, 34, 37, 0.986);
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

.nav-bar {
  height: 20px;
  width:25%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10%;
  list-style: none;
}

.react-logo {
  width: 50px;
}

li {
  color: white;
}

.cart {
  position: relative;
}

.num-items {
  position: absolute;
  top: 12px;
  left: -11px;
  font-size: 12px;
  padding: 3% 24%;
  background-color: red;
  text-align: center;
  border-radius: 50%;
}
.shopping-cart-icon {
  width: 20px
}

.browse {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
} 
